# CLion folders
.idea

# Build artifacts
cmake-build-*
build*/

# Misc
logs*/
doc/html
doc/doxy.log

# Qt artifacts
*.user
*.autosave
settings/userSettings.json
settings/*.cfg
moc_*
ui_*
*.moc
*.o
*.prl

# Doxygen generated
src/html/
src/latex/

# Conan (deps folder must have separate .gitignore)
CMakeUserPresets.json


